@font-face {
  font-family: 'mesh3d';
  src: url('../font/mesh3d.eot?43532805');
  src: url('../font/mesh3d.eot?43532805#iefix') format('embedded-opentype'),
       url('../font/mesh3d.woff2?43532805') format('woff2'),
       url('../font/mesh3d.woff?43532805') format('woff'),
       url('../font/mesh3d.ttf?43532805') format('truetype'),
       url('../font/mesh3d.svg?43532805#mesh3d') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mesh3d';
    src: url('../font/mesh3d.svg?43532805#mesh3d') format('svg');
  }
}
*/
[class$="-3de"]:before, [class*="-3de "]:before {
  font-family: "mesh3d";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.mesh3d-3de:before { content: '\e800'; } /* '' */
.light-3de:before { content: '\e801'; } /* '' */
.object-3de:before { content: '\e802'; } /* '' */
.mesh-3de:before { content: '\e803'; } /* '' */
.particles-3de:before { content: '\e804'; } /* '' */
.plane-3de:before { content: '\e805'; } /* '' */
.scene-3de:before { content: '\e806'; } /* '' */
.postprocessing-3de:before { content: '\e807'; } /* '' */
.logo-nerdsfarm-3de:before { content: '\e808'; } /* '' */
.points-3de:before { content: '\e809'; } /* '' */